<div fxLayoutAlign="end">
  <mat-form-field appearance="fill">
    <mat-label>Sort By</mat-label>
    <mat-select (selectionChange)="sortPosts()" [(value)]="sortBy">
      <mat-option [value]="''">Default Order</mat-option>
      <mat-option value="likes_asc">Sort By Likes Ascending</mat-option>
      <mat-option value="likes_desc">Sort By Likes Descending</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngFor="let post of userPosts" class="post-list-container">
  <app-post-row [post]="post"></app-post-row>
</div>
